{% extends 'base_clean.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

<section>
    {% include "header.html.twig" %}
    <div class="form-box">
        <div class="form-value">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            
                <h1 class="h3 mb-3 reset-font font-weight-normal">S'identifier</h1>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"  autocomplete="username" required autofocus>
                    <label for="inputUsername">Identifiant</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <button class="btn btn-lg button" type="submit">
                    Se connecter
                </button>
            </form>
            <a href="{{ path('app_register')}}"><button id="inscription" class="btn btn-lg button">S'inscrire</button></a>
        </div>
        
    </div>
    {% include "footer.html.twig" %}
</section>
{% endblock %}
