{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Les Drones
        </h2>
      </div>
      <div class="filters-content">
        <div class="row grid">
        {% for drone in drones %}
            <div class="col-sm-6 col-lg-4 all pizza">
              <div class="box">
                <div>
                  <div class="img-box">
                    <img src="{{ asset(drone.imageName) }}" alt="drones img">
                  </div>
                  <div class="detail-box">
                    <h5>
                      {{ drone.fabriquant }}&nbsp;{{ drone.nom }}
                    </h5>
                    <p>
                      Resolution video : {{ drone.camera.resolution }}
                      <br>
                      Poids : {{ drone.poids }}
                      <br>
                      Resistance au vents : {{ drone.resistanceVent }}
                    </p>
                    <div class="options">
                      <h6>
                        {{ drone.prix }}&nbsp;€
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
      {{ knp_pagination_render(drones, '/pagination.html.twig', {}, {'align': 'center'}) }}
    </div>
  </section>

  <!-- end food section -->

{% endblock %}
