{% extends 'base.html.twig' %}

{% block title %}Fabriquant{% endblock %}

{% block body %}
    <h1>Fabriquant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fabriquant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fabriquant.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fabriquant_index') }}">back to list</a>

    <a href="{{ path('app_fabriquant_edit', {'id': fabriquant.id}) }}">edit</a>

    {{ include('fabriquant/_delete_form.html.twig') }}
{% endblock %}
