<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="">

        <title>
            {% block title %}Daju{% endblock %}
        </title>

        {% block stylesheets %}
            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />

            <!--owl slider stylesheet -->
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
            <!-- nice select  -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
            <!-- font awesome style -->
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />

            <!-- Custom styles for this template -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <!-- responsive style -->
            <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
                <!-- jQery -->
                <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
                <!-- popper js -->
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
                </script>
                <!-- bootstrap js -->
                <script src="{{ asset('js/bootstrap.js') }}"></script>
                <!-- owl slider -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
                </script>
                <!-- isotope js -->
                <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
                <!-- nice select -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
                <!-- custom js -->
                <script src="{{ asset('js/custom.js') }}"></script>
                <!-- Google Map -->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
                </script>
                <!-- End Google Map -->
        {% endblock %}
    </head>
    <body class="sub_page">
    {% include "header.html.twig" %}
        {% block body %}{% endblock %}
    {% include "footer.html.twig" %}
    </body>
</html>
