<div class="hero_area">

    <div class="bg-box">
      <img class="header-background" src="{{ asset('img/background6.jpg') }}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ path('app_accueil') }}">
            <span>
              Daju
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto" style="position: absolute; left: 35%;">
              {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
              {% if currentPath == path('app_accueil') %}
              <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_accueil') }}">Acceuil </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_accueil') }}">Acceuil </a>
              </li>
              {% endif %}
              {% if not app.user %}
                {% if currentPath == path('app_login') %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('app_login') }}">Connexion </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_login') }}">Connexion </a>
                </li>
                {% endif %}
                {% if currentPath == path('app_register') %}
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_register') }}">Inscription </a>
                </li>
                {% endif %}
                {% else %}
                {% if currentPath == path('reset_password') %}
                  <li class="nav-item active">
                    <a class="nav-link" href="{{ path('reset_password') }}">Change MDP</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('reset_password') }}">Change MDP</a>
                  </li>
                {% endif %}
                
              {% endif %}
            </ul>
            <div class="user_option">
              {% if app.user %}
                  <img style="width: 40px;" class="rounded-circle" src="{{ asset('img/uploads/pp/' ~ app.user.id ~ '.png') }}" alt="photo de profil">
                  <a class="user_link" href="{{ path('app_logout') }}">Déconnexion </a>
                  <p>{{ app.user.id }}</p>
              {% endif %}
              {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="order_online">
                  Administration
                </a>
              {% endif %}
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>